.startpage {
  display: block;
  width: 100%;

  justify-items: center;
}
.dashbord {
  display: none;
  padding: 50px;
  justify-items: center;
}
.parent {
  align-items: center;
  height: 90vh;

  align-content: center;
}
.dash {
  display: flex;
  justify-self: center;
  gap: 100px;
  padding: 50px;
}
.contorol {
  display: flex;
  gap: 20px;
}
.dice {
  display: inline-flex;

  align-items: center;
}
.dice div {
  display: none;
  width: 90px;
  height: 90px;
  border: solid 2px black;
  justify-items: center;

  align-content: center;
}
#resert {
  display: none;
}

 .startpage #logo {
  width: 20%;
 display: grid;
margin-top: 30px;
border-radius: 20px;
border: 2px solid aqua;
} 
